.projects {
  padding: 30px 20px 20px 20px;
  background-color: var(--primary-color);
}

.proyect-card {
  display: flex;
  flex-direction: row;
  width: 400px;
  height: 150px;
  margin: 0.4em;
  background-color: var(--primary-color);
  border: 1px solid rgba(255, 255, 255, 0.103);
}

.card-img {
  object-fit: cover;
  width: 40%;
}

.card-title {
  text-transform: uppercase;
  color: var(--secondary-color);
  font-weight: 400;
}

.card-text {
  color: var(--secondary-color);
}

.card-tech-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
}

.card-tech-container span {
  padding: 3px;
  font-size: 0.8em;
  color: rgba(255, 255, 255, 0.668);
  margin: 3px;
}

.card-btn {
  margin-top: 3px;
  padding: 0.2em;
  background-color: var(--primary-color);
  border: 1px solid var(--tertiary-color);
  transition: all 0.3s;
}

.card-btn a {
  color: var(--tertiary-color);
}

.card-btn a:hover {
  color: var(--primary-color);
}

.card-btn:hover {
  background-color: var(--tertiary-color);
  border-color: var(--tertiary-color);
}
