.projects {
  padding: 30px 20px 20px 20px;
  background-color: var(--primary-color);
}

.proyect-card {
  display: flex;
  flex-direction: row;
  width: 400px;
  height: 150px;
  margin: 0.4em;
  background-color: var(--primary-color);
  border: 1px solid rgba(255, 255, 255, 0.103);
}

.card-img {
  object-fit: cover;
  width: 40%;
}

.card-title {
  text-transform: uppercase;
  color: var(--secondary-color);
  font-weight: 400;
}

.card-body{
  padding: 0.7em;
}

.card-tech-container span {
  font-size: 0.8em;
  color: rgba(255, 255, 255, 0.668);
  margin: 3px;
}

.card-btn {
  margin-top: 3px;
  padding: 0.2em;
  transition: all 0.3s;
  text-decoration: none;
}

.card-btn a {
  color: var(--tertiary-color);
}

.btn-ico{
  color: var(--secondary-color);
  margin-right: 4px;
}