.skills {
  padding: 30px 20px 20px 20px;
  background-color: var(--primary-color);
}

.container-skills {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.img-container{
  box-sizing: content-box;
  display: flex;
  flex-direction: column-reverse;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 100px;
  height: 100px;
  margin: 12px;
  padding: 5px;
  border: 1px solid rgba(255, 255, 255, 0.103);
}

.img-container span{
  color: white;
  font-size: 0.9em;
}

.img-container img {
  width: 4em;
  padding-bottom: 0.3em;
}
