.skills {
  background-color: var(--primary-color);
}

.container-skills {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.img-container{
  box-sizing: content-box;
  display: flex;
  flex-direction: column-reverse;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 100px;
  height: 100px;
  margin: 12px;
  padding: 5px;
  border: 1px solid var(--cuaternary-color);
  transition: all .3s ease;
}

.img-container:hover{
  transform: scale(1.02);
  background-color: var(--hover-color);
}

.img-container span{
  color: white;
  font-size: 0.9em;
}

.img-container img {
  width: 4em;
  padding-bottom: 0.3em;
}
