h4 {
  color: var(--tertiary-color);
  padding: 10px 0;
  margin: 10px 0 10px 0;
  font-weight: 100;
}

.form-icons {
  display: flex;
  justify-content: center;
}

hr{
  border: 1px solid var(--secondary-color);
}

@media screen and (max-width: 767px) {
  .contact {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
  }
}
