.certificates {
  padding-top: 1.5em;
}

.accordion-header {
  font-size: 0.9em;
}

.accordion-name {
  white-space: nowrap;
  overflow: hidden;
}

.accordion-academia {
  color: var(--tertiary-color);
  font-weight: bold;
}
